<html>
<input type="text" class="vertical-align" [(ngModel)]="message" />
<button type="button" id="send_message" class="vertical-align" (click)="onClick()">Send</button>
<table>
   <tr *ngFor="let data of chatData">
      <td>{{data.senderId.userName}}:</td>
      <!-- <td>{{data.DATA.receivers}}:</td> -->
      <!-- <td>{{data.roomId}}</td> -->
      <td>{{data.content}}</td>
   </tr>
</table>

</html>















































<!-- <html>

<head>
   <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
   <title>Simple Chat App</title>
</head> -->

<!-- <body> -->
<!-- <table> -->
<!-- <header> -->
<!-- <h1>ChatRoom</h1>
   </header>
  
   <section id="chatroom">
      <section id="feedback"></section>
   </section>

                                                     -->
<!-- <form [formGroup]="msgForm" (ngSubmit)="onSubmit()"> -->

<!-- <section id="input_zone"> -->
<!-- <tr *ngFor="let Data of chatData; let i=index"> -->
<!-- <input class="vertical-align" type="text" [(ngModel)]="message" /> -->
<!-- <button id="send_message" class="vertical-align" type="button" (click)="onClick()">Send</button> -->
<!-- <td>Data</td> -->

<!-- <button id="send_message" class="vertical-align" type="button" (click)="onClick()">Send</button>
   </section>
   <table>
      <tbody>
            <tr  *ngFor="let chat of chatData">
                  <td>{{chat.content}}</td>
                </tr>
      </tbody>
       
      </table>
   <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
<!-- <script src="chat.js"></script> -->
<!-- </form> -->
<!-- </tr> -->

<!-- </table> -->
<!-- </body>
</html> -->




















































<!-- <div class="container">
      <div class="card bg-info">
         <h5 class="card-header info-color white-text text-center py-4">
            <h4 class="text-center text-white">Send Message</h4>
         </h5>
      </div>

      <div class="card-body px-lg-5 pt-0">
         <br><br>
         <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

            <div class="form-row mb-4">
               <div class="col">

                  <input mapInput="text" formControlName="userName" class="form-control" 
                     [ngClass]="{'is-valid':submitted && f.userName.errors}">

               </div>



            </div>
            <div class="form-group">
               <button class="btn btn-info my-4 btn-block">Send</button>&nbsp;&nbsp;
            </div>



         </form>
      </div>
   </div>







 -->































































<!-- <!DOCTYPE html>
<html>

<head>
   <title>demoSocket</title>
</head> -->

<!-- <script src="/socket.io/socket.io.js"></script> -->
<script>
   // var socket = io();


   // function setUsername() {
   //    socket.emit('setUsername', document.getElementById('name').value);
   // };


   // var user;
   // socket.on('userExists', function (data) {
   //    console.log("userExists data////////////////////////////////////////", data)
   //    document.getElementById('error-container').innerHTML = data;
   // });


   // socket.on('userSet', function (data) {
   //    console.log("userset data////////////////////////////////////////", data)
   //    user = data.username;
   //    console.log("userset username////////////////////////////////////////", data.username)
   //    document.body.innerHTML = '<input type = "text" id = "message">\
   //       <button type = "button" name = "button" onclick = "sendMessage()">Send</button>\
   //       <div id = "message-container"></div>';
   // });


   // socket.emit('init', { name: "prem", id: 'socket.id' })


   // function sendMessage() {
   //    var msg = document.getElementById('message').value;
   //    if (msg) {
   //       socket.emit('msg', { message: msg, user: user });
   //    }
   // }


   // socket.on('newmsg', function (data) {
   //    console.log(">>>>>", data)
   //    if (user) {
   //       document.getElementById('message-container').innerHTML += '<div><b>' +
   //          data.user + '</b>: ' + data.message + '</div>'
   //    }
   // })
</script>

<!-- <body>
   <h1></h1>
   <div id="error-container"></div>
   <form [formGroup]="chatForm" (ngSubmit)="onSubmit()" > -->
<!-- <input id="name" type="text" name="name" value=""> -->
<!-- <button type = "button" name = "button" onclick = "setUsername()">
         SEND
      </button> -->
<!-- <button type="button" name="button">SEND</button></form>
</body>

</html> -->