<!DOCTYPE html>
<html>

<!-- <h1 class="text-hide"  align="middle"  style="background-image: url('https://mdbootstrap.com/img/logo/mdb-transparent-250px.png');  width: 250px; height: 90px;">MDBootstrap</h1> -->

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="card bg-info">
      <h5 class="card-header info-color white-text text-center py-4">
        <h4 class="text-center text-white">Sign up</h4>
      </h5>
    </div>
    <div class="card-body px-lg-5 pt-0">




      <br><br>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <!-- <div class="form-group" > -->
        <div class="form-row mb-4">
          <div class="col">
            <!-- <label for="fname" >Firstname:</label> -->
            <!-- <input mapInput="text" formControlName="fname" class="form-control" placeholder="Enter Firstname" [ngClass]="{'is-valid':submitted && f.fname.errors}"> -->
            <input mapInput="text" formControlName="userName" class="form-control" placeholder="Username" [ngClass]="{'is-valid':submitted && f.userName.errors}">
            <div *ngIf="submitted && f.userName.errors" class="err-lbl">

              <div *ngIf="f.userName.errors.required">userName is required</div>
            </div>



          </div>
          <!-- <div class="form-group"> -->
          <div class="col">
            <!-- <label for="lname">Lastname:</label> -->
            <input type="text" formControlName="fullName" class="form-control" placeholder="Fullname" [ngClass]="{'is-valid':submitted && f.fullName.errors}">
            <div *ngIf="submitted && f.fullName.errors" class="err-lbl">
              <div *ngIf="f.fullName.errors.required">Lastname is required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="phnumber">Phone:</label> -->
          <input type="text" formControlName="contactNumber" class="form-control" placeholder="Phone Number" [ngClass]="{'is-valid':submitted && f.contactNumber.errors}">
          <div *ngIf="submitted && f.contactNumber.errors" class="err-lbl">
            <div *ngIf="f.contactNumber.errors.required">Phone is required</div>
            <div *ngIf="f.contactNumber.errors.pattern" class="text-danger">Phonenumber shoud contain atlist 10 digit</div>
          </div>
        </div>


        <div class="form-group">
          <!-- <label for="email">Email:</label> -->
          <input type="email" formControlName="emailId" class="form-control" placeholder="Email-Id" [ngClass]="{'is-valid':submitted && f.emailId.errors}">
          <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback" class="err-lbl">
            <div *ngIf="f.emailId.errors.required" class="text-danger">Email is required</div>
            <div *ngIf="f.emailId.errors.pattern" class="text-danger">Enter valid email</div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label for="password">Password:</label> -->
          <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{'is-valid':submitted && f.password.errors}">
          <div *ngIf="submitted && f.password.errors" class="err-lbl">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.pattern" class="text-danger">Password should contain atlist 6 digit with one
              special Character and one Number</div>
          </div>
        </div>
        <!-- <div class="form-group">
      <select [(ngModel)]="category" id="category">
          <option value="" disabled selected>select a category</option>
          <option *ngFor="let item of categories" [value]="item.category">{{item.category}}</option>
        </select>
      </div> -->
        <div class="form-group">
          <select class="form-control" style="width: 1050px;" formControlName="role" [ngClass]="{'is-valid':submitted && f.role.errors}">

            <option value="">Select Your Role</option>
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
          </select>
        </div>
        <div *ngIf="submitted && f.role.errors" class="err-lbl">
          <div *ngIf="f.role.errors.required">Role is required</div>
        </div>
        <!-- <div class="form-group"> -->
        <!-- <label for="password">Password:</label> -->
        <!-- <input type="text" formControlName="ref" class="form-control" placeholder="Enter Refer Code Here.."  >
         </div> -->



        <!-- <div class="form-group">
        <input type="text" formControlName="role" class="form-control" placeholder="Your UserType" [ngClass]="{'is-valid':submitted && f.role.errors}">
        <div *ngIf="submitted && f.role.errors" class="err-lbl">
          <div *ngIf="f.role.errors.required">Role is required</div>
        </div>
      </div> -->
        <!-- <div class="form-group">
        <label>Gender</label>
        <br>
        <input type="radio"  formControlName="gender" value="male" [checked]="true"/> Male
        <input type="radio"  formControlName="gender" value="female"> Female
        <input type="radio"  formControlName="gender" value="other"> Other  
        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                <div *ngIf="f.gender.errors.required" class="text-danger" >gender is required</div>     
                </div></div> -->
        <div class="form-group">
          <button class="btn btn-info my-4 btn-block">Submit</button>&nbsp;&nbsp;
          <!-- <button type="reset" value="Reset" class="btn btn-danger">Cancle</button> -->
        </div>

        <!-- Terms of service -->
        <p align="center">By Clicking
          Sign Up You Agree To Our
          <a href="" target="/blank">Terms And Conditions.</a>Already Have An Account
          <a href="" routerLink="/login"> SIGN-IN </a> </p>
      </form>
    </div>
  </div>