<!-- <nav>
  <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/login" routerLinkActive="active">Login</a> 
    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    <a [routerLink]="['/login']" class="btn btn-link">Login</a>
</nav>
<router-outlet></router-outlet> -->



<p color="primary">
  <!-- <button  routerLink="/home">Home</button> -->
  <!-- <button  *ngIf="!auth.isLoggednIn()" routerLink="/register">Register</button>
  <button  *ngIf="!auth.isLoggednIn()" routerLink="/login">Login</button> -->
  <button  *ngIf="auth.isLoggednIn()" (click)="auth.logout()">Logout</button>

</p>

<router-outlet></router-outlet>
