// Here you can add other styles
// .primaryButton {
//     background-color: #63c2de !important;
// }
.has-error {
    color: white;
    width: 100%;
}


.card {
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}

.profilecustom{
    width: 70px
}
.logoLabelEffect{
    color: #ff1a1a;
    margin-top: 10px 
}
.loginButtonCss{
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;

}
.forgotLinkCss{
    color:  white
}
.forgotLinkCss:hover{
    color:rgb(185, 3, 3)!important;
}
.btn-link:hover {
    // color:  #ff1a1a;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}
.btn-primary:hover {
    background-color:rgb(185, 3, 3)!important;
    border-color:   #ff1a1a!important;
}

.sidebar{
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.nav-link:hover{
    background: rgb(185, 3, 3)!important;
}
.sidebar .nav-link.active {
    color: #fff;
    background: rgb(185, 3, 3)!important;
}
.nav-dropdown{
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.sidebar .nav-link{
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.usercss{
    border-color: rgb(185, 3, 3)!important;
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.labelcss:hover{
    color: #ff1a1a!important;
    background: white!important;
}
.button-primary{
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.logoutcss:hover{   
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
    .sendcss{
        background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
    }
    
    nav > ol > :not(.active) > a {
    
    color: #ff1a1a!important;
}

.sidebar-minimized .sidebar .sidebar-minimizer {
    background-color: rgb(185, 3, 3)!important;
}

.ReactTable .-pagination select:hover {
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.-btn:hover{
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.tablecss{
  background-image: linear-gradient(to bottom right,#e44242,white, )!important;
}
.cardcss {
    background-image: -webkit-linear-gradient(top left, #e44242, white) !important;
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}
.recoverycss{
    color: white!important
}
.card.bg-info {
    border-color: #e44242!important;
}
.headercss{
    align-content: center!important
}

.nav-item   {   
    padding: 10px 0 10px -0;
    font-size: 17px;
    font-weight: 600;
    
}
.searchcss{
    margin-top: 10px;
    margin-left: 10px;
}
.editFormcss
{
    margin-left: 10%!important;
    justify-content: flex-start!important;
}
.modal-content{
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}
.card-footer{
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}
.editbtncss{
    margin-left: 20%!important
}
.input-group{
    margin-top: 3%!important
}
.labelcss{
    color: white!important;
}
.adminNamecss{
    color:red!important;
}
.adminNamecss:hover{
    // color:red!important;
    background-color: #fff!important
}

.MUIDataTableToolbar-left-33{
    position: relative;
    left: 46%;
    background-color: white;
    z-index: 9;
   
}

.adminNamecss{
color:red !important
}
.adminNamecss:hover{
background-color:white !important
}

.card-body > div > div > div > div {
    width: 48%;
    float: right;
}
<<<<<<< HEAD
    

=======
.aboutUsCss{
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}
.editorCss{
    border-color: #fff!important;
    border:1px solid!important
}
.rdw-editor-toolbar{
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}
>>>>>>> 7f8c33bf90e35113d890c23cd5d2dadfa9ccd879
