// Here you can add other styles
// .primaryButton {
//     background-color: #63c2de !important;
// }
.has-error {
    color: white;
    width: 100%;
}


.card {
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}

.profilecustom{
    width: 70px
}
.logoLabelEffect{
    color: #ff1a1a;
    margin-top: 10px 
}
.loginButtonCss{
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;

}
.forgotLinkCss{
    color:  white
}
.forgotLinkCss:hover{
    color:rgb(185, 3, 3)!important;
}
.btn-link:hover {
    // color:  #ff1a1a;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}
.btn-primary:hover {
    background-color:rgb(185, 3, 3)!important;
    border-color:   #ff1a1a!important;
}

.sidebar{
    // background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
    background-color: #fff;
    color:red;
}
.nav-link:hover{
    background:red!important;
    color: #000;
}
.sidebar .nav-link.active {
    color: #fff !important;
    background: red!important;
}
.nav-dropdown{
    // background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.sidebar .nav-link{
    // background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
    background-color: #fff;
    color: #ff1a1a
}
.usercss{
    border-color: rgb(185, 3, 3)!important;
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.labelcss:hover{
    color: #ff1a1a!important;
    background: white!important;
}
.button-primary{
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.btn-primary{
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.logoutcss:hover{   
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
    .sendcss{
        background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
    }
    
    nav > ol > :not(.active) > a {
    
    color: red !important;
}

.sidebar-minimized .sidebar .sidebar-minimizer {
    background-color: rgb(185, 3, 3)!important;
}

.ReactTable .-pagination select:hover {
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.-btn:hover{
    background-image: linear-gradient(to bottom right, rgb(204, 52, 52), #ff1a1a)!important;
}
.tablecss{
  background-image: linear-gradient(to bottom right,#e44242,white, )!important;
}
.cardcss {
    // background-image: -webkit-linear-gradient(top left, #e44242, white) !important;
    // background-image: linear-gradient(to bottom right, #e44242, white) !important;
    background-image: -webkit-linear-gradient(top left, #cc3434, #ff1a1a) !important;
    height: 350px !important;
}
.recoverycss{
    color: white!important
}
.card.bg-info {
    border-color: #e44242!important;
}
.headercss{
    align-content: center!important
}

.nav-item   {   
    padding: 10px 0 10px -0;
    font-size: 17px;
    font-weight: 600;
    
}
.searchcss{
    margin-top: 10px;
    margin-left: 10px;
}
.editFormcss
{
    margin-left: 10%!important;
    justify-content: flex-start!important;
}
.modal-content{
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}
.card-footer{
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}
.editbtncss{
    margin-left: 20%!important
}
.input-group{
    margin-top: 3%!important
}
.labelcss{
    color: white!important;
    margin-top: -1px !important;
}
.adminNamecss{
    color:red!important;
    margin-right: 49px !important;
    margin-top: 14px !important;
}
.adminNamecss:hover{
    // color:red!important;
    background-color: #fff!important
}

.MUIDataTableToolbar-left-33{
    position: relative;
    left: 46%;
    background-color: white;
    z-index: 9;
   
}

.card-body > div > div > div > div {
    width: 48%;
    float: right;
}
.aboutUsCss{
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}
.editorCss{
    border-color: #fff!important;
    border:1px solid!important
}
.rdw-editor-toolbar{
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}
.gyQnsE{
    margin-top: 18% !important;
}
.MuiIconButton-label-10{
    margin-left: 3800% !important;
}
form-group > .form-group dropdown{
    width:100% !important;
}

table >thead>tr>th{
    font-weight: bold !important;
    font-size: medium !important;
    
}
.dropdown{
    margin-top: -16px !important
}
.nav-item > .nav-link > .nav-icon{
    font-size: 20px !important;
    margin-right: 15px !important;
}

.adminNamecss{
    background: #fff!important;
}

.card-body{
    color:white !important
}
.text-muted{
    color: #fff !important;
}


.sidebar .nav-dropdown-items .nav-item > a{
    font-size: 15px;
    padding-left: 40px !important;
}
.addButtonCss{
    float:right;
    margin-top: -11px!important;
}
.sidebar .nav-dropdown.open {
    background: white;
}
.sidebar .nav-dropdown.open .nav-link{
    color:red ;
    background:white ;
 }

 .sidebar .nav-dropdown.open .nav-link:active{
    color: white ;
    background: #ff1a1a ;
     }
.sidebar .nav-dropdown.open .nav-link:hover {
    color: white  ;
    background: #ff1a1a ;
} 
.card-header{
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}

.aboutUsCss{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    // margin-left: 2%;
    // margin-right: 3%;
}

.btn-sm{
    margin-left: 2%;
    margin-right: 3%;
}
.aboutUsColor{
    background-image: linear-gradient(to bottom right, #e44242, white) !important;
}
.sidebar .sidebar-minimizer{
display: none
}